[submodule "deps/genesis"]
	path = deps/genesis
	url = https://github.com/lczech/genesis.git
[submodule "deps/edlib"]
	path = deps/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "deps/ksw2"]
	path = deps/ksw2
	url = https://github.com/lh3/ksw2.git
[submodule "deps/parasail"]
	path = deps/parasail
	url = https://github.com/jeffdaily/parasail.git
